
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*,body{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color:#eddfd8;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Bebas Neue', sans-serif;
}
.links{
  font-family: 'Bebas Neue', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
a{
  font-family: 'Poppins', sans-serif;
}


.poppins{
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
  width: 10px; 
  /* display: none;  */
}

*::-webkit-scrollbar-thumb{
  background-color:black;
}
*::-webkit-scrollbar-track{
  background-color:#eddfd8;
}
*::-webkit-scrollbar-button{
  background: #000;
}
*::-webkit-scrollbar-track-piece{
  background-color:#7f1d1d
}

.about::-webkit-scrollbar{
  display: none;
  
}

@media only screen and (max-width: 600px) {
  *::-webkit-scrollbar{
    width: 1px;
  }
}